@use './layouts' as l;
@use './myvariables' as v;
@use './designElement' as d;
@use './neumorphismus' as n;
@use './glassMorphismus' as g;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');


*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  perspective: 1000px;
  transform-style: preserve-3d;
}

.contCentral {
  @include d.designContainerCentral;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  transform-style: preserve-3d;
  gap: 1%;

  background: v.$backgroundColorHellGrayT;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");


  &>.contTop {
    @include l.layoutFlexboxRowCenter;
    justify-content: flex-start;
    @include n.neuMorphismus3;
    width: 60%;
    height: auto;
    padding: 2%;
    margin: 0% auto;
    margin-top: 5%;

    &>.contSelectSong {
      @include l.layoutFlexboxColumCenter;
      @include n.neuMorphismus4;
      width: 36%;
      height: 6rem;
      padding: 0%;
      margin: 0% 2%;
      border: 2px solid v.$backgroundColorIni;
      border-radius: 12px;
      background-color: v.$backgroundColorIniT2;

      &>label {
        @include d.configurationLabel (v.$colorTextIni, 1rem);
        text-shadow: v.$textShadow1;
        margin: 2% auto;

      }

      &>.contSelectButton {
        @include l.layoutFlexboxRowCenter;
        align-items: flex-start;
        justify-content: space-between;
        width: 79%;
        gap: 5%;

        &>.selectSong {
          @include l.layoutFlexboxRowCenter;
          height: 3.8vh;
          width: 12rem;
          margin: 0.5% auto;
          padding: 0.5% auto;
          @include d.configurationText1 (v.$colorRedNeu, 0.65rem);
          font-weight: 600;

          &>option {
            @include d.configurationText1 (v.$backgroundColorDunkelGray4, 0.6rem);
            margin: 1% auto;
            padding: 1% auto;
          }
        }

        &>.buttonSelect {
          @include d.buttonTypeNeuMorphismus2 (v.$colorNavy);
          @include d.configurationText2 (v.$colorDunkel6, 0.75rem);
          padding: 3% 6%;
          margin: 0% auto;
          transition: all 0.35s ease;
          cursor: pointer;

          &:hover {
            background: linear-gradient(315deg, #8f8f8f, #414141);
            box-shadow: -2px -2px 5px #545454,
              1px 1px 4px #bababa;
            font-weight: bolder;
            color: v.$colorbackgroudMy;
            transform: scale(0.92);
          }
        }
      }
    }

    &>.contFileChoose {
      @include l.layoutFlexboxColumCenter;
      @include n.neuMorphismus4;
      width: 40%;
      height: 6rem;
      padding: 0%;
      margin: 0% 2%;
      border: 2px solid v.$backgroundColorIni;
      border-radius: 12px;
      background-color: v.$backgroundColorIniT2;

      &>label {
        @include d.configurationLabel (v.$colorTextIni, 1.1rem);
        text-shadow: v.$textShadow1;
        margin: 2% auto;
      }

      &>.classSongChose {
        @include l.layoutFlexboxRowCenter;
        margin: 0% auto;
        @include d.configurationText2 (v.$colorRedNeu, 0.8rem)
      }
    }

    &>.audioController {
      @include l.layoutFlexboxRowCenter;
      @include n.neuMorphismus1;
      width: 40%;
      height: 6rem;
      padding: 0%;
      margin: 0%;
      border: 2px solid v.$backgroundColorIni;
      border-radius: 12px 12px 29px 29px;
      background-color: v.$backgroundColorIniT2;
    }
  }

  &>.audioPlayer {
    @include l.layoutFlexboxColumCenter;
    align-items: flex-start;
    @include n.neuMorphismus4;
    height: 45vh;
    width: 60%;
    padding: 1%;
    margin: 0% auto;
    border: 1px solid v.$colorHellCardGlassBorder;
    border-radius: 19px;

    &>.canvas {
      @include l.layoutFlexboxRowCenter;
      @include g.boxShadowGlassMorphismus4;
      width: 100%;
      height: 260px;
      padding: 0%;
      margin: 0% auto;
      border: 2px solid v.$backgroundColorHellGrayT;
      border-radius: 9px;
      background-color: v.$backgroundColorBlack;
    }

    &>.controls {
      @include l.layoutFlexboxRowCenter;
      justify-content: space-between;
      @include n.neuMorphismus3;
      height: 4.6rem;
      padding: 1%;
      margin: 1% auto;
      border: 1px solid v.$backgroundColorHellGrayT3;
      border-radius: 9px;
      gap: 3%;

      &>.contButton {
        @include l.layoutFlexboxRowCenter;
        width: auto;
        height: 3rem;
        margin: 0% auto;
        margin-left: 2%;
        padding: 0%;

        &>.playPause {
          @include d.buttonTypeNeuMorphismus2 (v.$colorNavy);
          @include d.configurationText2 (v.$colorDunkel6, 0.75rem);
          text-align: center;
          height: 2.9rem;
          width: 4.6rem;
          padding: 1% 2%;
          margin: 0% auto;
          transition: all 0.35s ease;
          border: 1px solid v.$backgroundColorHellGrayT3;
          cursor: pointer;

          &:hover {
            background: linear-gradient(315deg, #8f8f8f, #414141);
            box-shadow: -2px -2px 5px #545454,
              1px 1px 4px #bababa;
            font-weight: bolder;
            color: v.$colorbackgroudMy;
            transform: scale(0.92);
          }
        }
      }

      &>.CurrentSeekBar {
        @include l.layoutFlexboxRowCenter;
        @include n.neuMorphismus4;
        width: 3.4rem;
        height: 3rem;
        @include d.configurationLabel (v.$backgroundColorDunkelGray2, 0.65rem);
        border-radius: 6px;
        padding: 0% auto;
        margin: 0% auto;
        margin-right: 2%;
        margin-right: -2%;
      }

      &>.contSeekBar {
        @include l.layoutFlexboxRowCenter;
        justify-content: space-between;
        @include n.neuMorphismus4;
        border-radius: 6px;
        width: 96%;
        height: 3rem;
        padding: 1% auto;
        margin: 0% auto;
        background-color: transparent;

        &>.spanSeekBar {
          @include l.layoutFlexboxRowCenter;
          @include d.configurationLabel (v.$backgroundColorDunkelGray4, 0.6rem);
          padding: 0% auto;
          margin: 0% auto;
          width: 3rem;
        }

        &>.seekBarPlay {
          @include l.layoutFlexboxRowCenter;
          @include g.GlassMorphismus3;
          -webkit-appearance: none;
          width: 90%;
          height: 2.8rem;
          padding: 0%;
          margin: 0% auto;
          border: 2px solid v.$colorGreenHellT;
          border-radius: 3px;
          background-color: v.$colorDunkelGreenT;
          overflow: hidden;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 2.8rem;
            width: 0.2rem;
            background: v.$colorRedNeu;
            border-radius: 9px;
            outline: 1px solid v.$colorRedNeu3;
            outline-offset: 2px;
            cursor: pointer;
          }

          &:focus {
            outline: none;
          }

          &::-moz-range-thumb {
            height: 2.8rem;
            width: 90%;
            background: v.$colorDunkelGreenT;
            cursor: pointer;
          }

          &::-webkit-slider-runnable-track {
            @include g.GlassMorphismus3;
            border-radius: 3px;
            width: 90%;
            height: 2.8rem;
            cursor: pointer;
            background: v.$colorDunkelGreenT;
          }

          &:focus::-webkit-slider-runnable-track {
            background-color: v.$colorDunkelGreenT;
          }

          &::-moz-range-track {
            width: 90%;
            height: 2.8rem;
            cursor: pointer;
            background-color: v.$colorDunkelGreenT;
          }
        }

        &>.seekBarNotPlay {
          @include l.layoutFlexboxRowCenter;
          @include g.GlassMorphismus1;
          -webkit-appearance: none;
          width: 90%;
          height: 2.8rem;
          padding: 0%;
          margin: 0% auto;
          border: 1px solid v.$backgroundColorHellGray2;
          border-radius: 3px;
          background-color: v.$backgroundColorHellGrayT3;
          overflow: hidden;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 2.8rem;
            width: 0.2rem;
            background: v.$colorRedNeu;
            border-radius: 9px;
            outline: 1px solid v.$colorRedNeu3;
            outline-offset: 2px;
            cursor: pointer;
          }

          &:focus {
            outline: none;
          }

          &::-moz-range-thumb {
            height: 2.8rem;
            width: 90%;
            background: v.$backgroundColorHellGrayT3;
            cursor: pointer;
          }

          &::-webkit-slider-runnable-track {
            @include g.GlassMorphismus1;
            border-radius: 3px;
            width: 90%;
            height: 2.8rem;
            cursor: pointer;
            background: v.$backgroundColorHellGrayT3;
          }

          &:focus::-webkit-slider-runnable-track {
            background-color: v.$backgroundColorHellGrayT3;
          }

          &::-moz-range-track {
            width: 90%;
            height: 2.8rem;
            cursor: pointer;
            background-color: v.$backgroundColorHellGrayT3;
          }
        }
      }

      &>.contVolumen {
        @include l.layoutFlexboxRowCenter;
        justify-content: space-between;
        @include n.neuMorphismus4;
        border-radius: 6px;
        height: 3rem;
        padding: 1% auto;
        margin: 0% auto;

        &>.mutedButton {
          @include d.buttonTypeNeuMorphismus2 (v.$colorNavy);
          @include d.configurationText2 (v.$colorDunkel6, 0.65rem);
          text-align: center;
          height: 2.8rem;
          width: 3.2rem;
          padding: 0.3%;
          margin: 1% 1.5%;
          margin-right: 2.5%;
          transition: all 0.35s ease;
          border: 1px solid v.$backgroundColorHellGrayT3;
          cursor: pointer;

          &:hover {
            background: linear-gradient(315deg, #8f8f8f, #414141);
            box-shadow: -2px -2px 5px #545454,
              1px 1px 4px #bababa;
            font-weight: bolder;
            color: v.$colorbackgroudMy;
            transform: scale(0.92);
          }
        }

        &>.volumenButton {
          @include d.buttonTypeNeuMorphismus2 (v.$colorNavy);
          @include d.configurationText2 (v.$colorDunkel6, 0.6rem);
          text-align: center;
          height: 2.8rem;
          width: 2rem;
          padding: 0.2%;
          margin: 0.3%;
          margin-right: 0.6%;
          transition: all 0.35s ease;
          border: 1px solid v.$backgroundColorHellGrayT3;
          cursor: pointer;

          &:hover {
            background: linear-gradient(315deg, #8f8f8f, #414141);
            box-shadow: -2px -2px 5px #545454,
              1px 1px 4px #bababa;
            font-weight: bolder;
            color: v.$colorbackgroudMy;
            transform: scale(0.92);
          }
        }

        &>.colorSpan {
          color: v.$colorNavy;
        }

        &>.volume {
          @include l.layoutFlexboxRowCenter;
          @include g.GlassMorphismus1;
          background-color: v.$colorHellCardGlass;
          -webkit-appearance: none;
          width: 86%;
          height: 2.8rem;
          padding: 0% auto;
          margin: 0% 1.2%;
          border: 2px solid v.$colorHellCardGlassBorder;
          border-radius: 3px;
          overflow: hidden;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 2.8rem;
            width: 0.2rem;
            background: v.$colorGreenHell2;
            border-radius: 9px;
            outline: 1px solid v.$colorGreenHellT;
            outline-offset: 2px;
            cursor: pointer;
          }

          &:focus {
            outline: none;
          }

          &::-moz-range-thumb {
            height: 2.8rem;
            width: 86%;
            ;
            background-color: v.$colorHellCardGlass;
            cursor: pointer;
          }

          &::-webkit-slider-runnable-track {
            @include g.GlassMorphismus1;
            border-radius: 3px;
            width: 86%;
            height: 2.8rem;
            cursor: pointer;
            background-color: v.$colorHellCardGlass;
          }

          &:focus::-webkit-slider-runnable-track {
            background-color: v.$colorHellCardGlass;
          }

          &::-moz-range-track {
            width: 86%;
            height: 2.8rem;
            cursor: pointer;
            background-color: v.$colorHellCardGlass;
          }
        }
      }
    }
  }
}

.material-symbols-outlined {
  transform: scale(1.1);
  font-weight: normal;
}

.play {
  transform: scale(1.6);
  color: v.$colorDunkelGreen;
}

.pause {
  transform: scale(1.6);
  color: v.$colorTextIni;
}

.replay {
  transform: scale(1.6);
  color: v.$colorTextIni;
}

.volume_muted {
  @extend .material-symbols-outlined;
  transform: scale(1.7);
  color: v.$colorRedNeu;
  font-weight: 300;
  transition: all 0.35s ease;

  &:hover,
  &:focus {
    color: v.$colorGreenHell2;
    transform: scale(1.8);
    font-weight: 400;
  }
}

.volume_Notmuted {
  @extend .material-symbols-outlined;
  transform: scale(1.7);
  font-weight: 300;
  transition: all 0.35s ease;
  color: v.$backgroundColorDunkelBlack2;

  &:hover,
  &:focus {
    color: v.$colorRedNeu;
    transform: scale(1.8);
    font-weight: 400;
  }
}

.volume_changed {
  @extend .material-symbols-outlined;
  color: v.$backgroundColorDunkelGray4;
  font-weight: 300;
  transition: all 0.35s ease;

  &:hover,
  &:focus {
    color: v.$colorGrayHell;
    transform: scale(1.15);
    font-weight: 400;
  }
}

.valueMuted {
  @include l.layoutFlexboxRowCenter;
  @include g.GlassMorphismus3R;
  height: 2.8rem;
  width: 3.2rem;
  padding: 0.1%;
  margin: 0%;
  @include d.configurationText2 (v.$colorHell, 0.65rem);
  text-align: center;
  border: 1px solid v.$colorRedNeu3;
  border-radius: 6px;
}

.valueNotMuted {
  @include l.layoutFlexboxRowCenter;
  @include g.GlassMorphismus3;
  height: 2.8rem;
  width: 3.2rem;
  padding: 0.1%;
  margin: 0%;
  @include d.configurationText2 (v.$colorHell, 0.65rem);
  text-align: center;
  border: 1px solid v.$colorGreenHell;
  border-radius: 6px;
}